services:
  app:
    build:
      context: .
      dockerfile: ./build/Docker/Dockerfile
    depends_on:
      mysql:
        condition: service_healthy

  mysql:
    image: mysql
    volumes:
      - db_data:/var/lib/mysql
    environment:
     MYSQL_DATABASE: ${MYSQL_DATABASE}
     MYSQL_USER: ${MYSQL_USER}
     MYSQL_PASSWORD: ${MYSQL_PASSWORD}
     MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "127.0.0.1", "-p{$MYSQL_ROOT_PASSWORD}"]
      timeout: 20s
      retries: 10

volumes:
  db_data: {}
