services:
  app:
    build:
      context: .
      dockerfile: ./build/Docker/Dockerfile
    depends_on:
      - mysql

  mysql:
    image: mysql
    volumes:
      - db_data:/var/lib/mysql
    environment:
     MYSQL_DATABASE: ${MYSQL_DATABASE}
     MYSQL_USER: ${MYSQL_USER}
     MYSQL_PASSWORD: ${MYSQL_PASSWORD}
     MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}

volumes:
  db_data: {}
